# Fish
.config/fish/completions/*
.config/fish/conf.d/*
.config/fish/functions/*
.config/fish/secrets.fish
.config/fish/themes/*
.config/fish/fish_variables

# Ghostty
.config/ghostty/shaders/*

# Zed
.config/zed/*
!.config/zed/keymap.json
!.config/zed/settings.json

# GitHub CLI
.config/gh/hosts.yml

# Misc
.DS_Store
.ignore
