# Fish
.config/fish/completions/*
.config/fish/conf.d/*
.config/fish/functions/*
.config/fish/secrets.fish
.config/fish/themes/*
.config/fish/fish_variables

# Zed
.config/zed/*
!.config/zed/keymap.json
!.config/zed/settings.json

# Misc
.DS_Store
.ignore
