[user]
	name = Max Petretta
	email = git@maxpetretta.com
[core]
	editor = vim
[alias]
	graph = log --all --decorate --oneline --graph
	long = log --all --decorate --graph --abbrev-commit --date=relative
[init]
	defaultBranch = master
[credential]
	helper = osxkeychain
