[user]
	name = Max Petretta
	email = m@maxp.co
[core]
	editor = nvim
[alias]
	graph = log --all --decorate --oneline --graph
	long = log --all --decorate --graph --abbrev-commit --date=relative
[init]
	defaultBranch = master
[credential]
	helper = osxkeychain

[fetch]
	prune = true
[pull]
	rebase = true
	merge = false
